<html>

<head>
    <title>
        Beverages
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/beverages-styles.css">
    <link rel="icon" href="/img/grocery2.png">
    <link rel="stylesheet" href="/css/product-style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body style="color: black;">
    <div class="clearfix" style="width:100%;position: fixed;z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;">
        {{>header}}
    </div>

    <div class="main-content" style="min-height: 100%;">
        <div class="container-fluid">
            <div class="row content">
                <div class=" sidenav">
                    <div style="margin-top: 0;color:black">
                        {{>searchbox}}
                        <br><br>
                    </div>
                    <h4>Filter</h4>

                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#section1">Brand</a></li>
                        <li><a href="#section2">Price</a></li>
                        <li><a href="#section3">Discount</a></li>
                        <li><a href="#section3">Food Preferance</a></li>
                        <li><a href="#section3">Pack</a></li>
                    </ul><br>
                    {{!-- <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Blog..">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div> --}}
                </div>

                <div class="other-main-content">
                    <br><br>
                    <div hidden class="row" style="float: right;margin-right:25px">
                        <a href="/shopping-cart"
                            style="background-color: rgb(0, 214, 46);color:white;padding:10px 12px;border-radius:4px">
                            Move to
                            cart </a>
                    </div>
                    <br><br>
                    <center>

                        <div class="row">
                            {{# each products}}
                            {{#if @first}}
                            {{# each this}}
                            {{!-- {{if i==0}} --}}
                            <div class="col-sm-3 col-md-3">
                                <div class="thumbnail product">
                                    <img src="{{this.imagePath}}" alt="" class="img-responsive">
                                    <div class="caption">
                                        <h5><b>{{this.title}}</b></h5>
                                        <span class="description"
                                            style="color: gray;"><i>{{this.description}}</i></span>
                                        <div class="clearfix" style="margin-top: 5px;;">
                                            <div class="price pull-left" style="font-size: medium;color:maroon"><span><i
                                                        class="fa fa-inr" aria-hidden="true"></i></span> {{this.price}}
                                            </div>
                                            <a href="cart/{{this._id}}" class="addtocart pull-right"
                                                role="button"><span><i class="fa fa-cart-plus"
                                                        aria-hidden="true"></i></span> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/if}}
                            {{/each}}
                        </div>


                    </center>
                </div>
            </div>
        </div>
    </div>


</body>
{{>footer}}

</html>