<html>
    <head>
        <title>
            Cart
        </title>
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="icon" href="/img/grocery2.png">
        <link rel="stylesheet" href="/css/styles.css">
        {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> --}}
    </head>
    <body>
       {{>header}}
        <div class="main-content">
            

            <h3 class="heading">You have added following things in your cart</h3>
            
            <table style="width: 50%;height:50%;text-align:center;" border=1>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                <tr>
                    <td>Coffee</td>
                    <td id="am1">25</td>
                    <td>{{coffee}}</td>
                </tr>
                <tr>
                    <td>Tea</td>
                    <td id="am1">20</td>
                    <td>{{tea}}</td>
                </tr>
                <tr>
                    <td>Orange Juice</td>
                    <td id="am1">50</td>
                    <td>{{orange}}</td>
                </tr>
                <tr>
                    <td>Strawberry Juice</td>
                    <td id="am1">50</td>
                    <td>{{strawberry}}</td>
                </tr>
                <tr>
                    <th colspan="2">Total Price</th>
                    <th>{{total}}</th>
                </tr>
            </table>
            <input type="submit" style=" margin-right:10%;margin-top:9%;background-color:rgb(0, 134, 40);color:white;padding:8px 16px; border-radius:5px;cursor:pointer" value="Proceed to checkout">
        
       
        </div> 

        
    
        {{!-- <div style="position:relative;
   left: 0;
   bottom: 0;
   width: 100%;">
            <div class="lower1" style="padding-top: 30px;">
            <table style="width: 100%;position: absolute;">
                <tr>
                    <th style="text-align: center;">CONTACT US</th>
                    <th style="text-align: center;">CORPORATE ADDRESS</th>
                    <th style="text-align: center;"> CONNECT WITH US ON</th>
                </tr>
                <tr  style="text-align: center;">
                    <td>Phone: 0244-458962</td>
                    <td>ABC Building,</td>
                    <td rowspan="5">Instagram<br>Facebook<br>Twitter</td>
                </tr>
                <tr>
                    <td>Mob: 7985264314</td>
                    <td>BCD rode, EFG colony</td>
                </tr>
                <tr>
                    <td>Email: grocerymart@gmail.com</td>
                    <td>GHI Block,</td>
                </tr>
                <tr>
                    <td style="opacity: 0">y</td>
                    <td>PIN: 859623</td>
                </tr>
                <tr>
                    <td style="opacity: 0">x</td>
                    <td>HIJK ,India</td>
                </tr>
            </table>
        </div>
            <div class="lower2">
                <h5> Copyright © 2020 Grocery Mart </h5>
            </div>
        </div> --}}
      
        {{>footer}}

    </body>
</html>