<html>

<head>
    <title>
        Cart
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="icon" href="/img/grocery2.png">
    <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/multiitemcarousel.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/added-to-cart.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> --}}
</head>

<body style="color: black;background-color:white;">
    {{>header}}
    <div class="main-content">
        {{# if products}}
        <div class="row">
            <div class="col-sm-4 col-md-4 addeditemcard" style="padding: 30px;">
                <h2>Items in your cart</h2>
                <hr color="darkgray" style="height:1px">
                <ul class="list-group">
                    {{# each products}}
                    <li class="list-group-item addeditem">
                        <span class="badge" style="background-color: rgb(0, 168, 0);"><a
                                href="/add/{{this.item._id}}"><i class="fa fa-plus" aria-hidden="true"></i></a></span>
                        <span class="badge">{{ this.qty }}</span>
                        <span class="badge" style="background-color: rgb(255, 77, 77);"><a
                                href="/reduce/{{this.item._id}}"><i class="fa fa-minus"
                                    aria-hidden="true"></i></a></span>
                        <img src="{{this.item.imagePath}}" alt="" class="img-responsive"
                            style="float: left;height:80px;width:80px">
                        <strong>{{ this.item.title }}</strong><br><br>
                        <span class="label label-success" style="padding: 5px 7px;;">₹ {{ this.price}}</span>
                        <div class="btn-group pull-right">
                            <a href="/remove/{{this.item._id}}">
                                <button class=" btn-primary btnxs dropdown-toggle" style="border-radius:4px"
                                    type="button">Remove All </button></a>
                            <!--<ul class="dropdown-menu">
                                        <li><a href="/reduce/{{this.item._id}}">Reduce by 1</a></li>
                                        <li><a href="/remove/{{this.item._id}}">Remove all</a></li>
                                    </ul>-->
                        </div>
                    </li><br><br>
                    {{/each}}
                    
                </ul>
            </div>
            <div class="col-sm-4 col-md-4 addeditemcard" style="padding: 30px;">
                <div>
                        <h3><strong>Total amount: ₹ {{totalPrice}} </strong></h3>
                        <br>
                        <h4><strong><i> Summary</i></strong></h4>
                        <hr color="darkgray" style="height:1px">
                        <table>
                            <tr >
                                <th style="padding-top:8px;padding:8px 10px;">Items</th>
                                <th style="padding-top:8px;padding:8px 10px;">Quantity</th>
                                <th style="padding-top:8px;padding:8px 10px;">Total Price</th>
                            </tr>
                        {{# each products}}
                            <tr >
                                <td style="text-align: justify;padding:8px 10px;">
                                    {{this.item.title}}
                                </td>
                                <td style="text-align: center;padding:8px 10px;">
                                    {{this.qty}}
                                </td>
                                <td style="text-align: center;padding:8px 10px;">
                                    ₹ {{this.price}}
                                </td>
                            </tr>
                        {{/each}}
                        </table>
                        
                {{!-- <img src="/img/pay.jpg" alt="PROCEED" height="200px"> --}}
                    </div>
                    <div ><br><br>
                        <form action="/success" method="POST">
                            <input hidden type="text" name="amount" placeholder="data-amount" value={{totalPrice}}>
                            <input type="submit" id="submit" value="Proceed to checkout"
                                style="background-color:#5CB85C;color:white;border-radius:4px">
                        </form>
                    </div>
            </div>
        </div>

        {{else}}
        <div class="row">
            <div class="col-sn-6 col-md-6 col-md-offset-3 col-sn-offset-3">
                <h2>No items in cart</h2>
            </div>
        </div>
        {{/if}}

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
                <img src="/img/review_products.jpg" width="500px" height="500px" alt="review products"
                    style="float: right;">
            </div>
            <div class="col-md-6" style="padding-top:100px;padding-left:30px">
                <h1>Add more products to your cart</h1>
                <a href="/beverages"> <button>Review products now!</button></a>
            </div>



        </div>


    </div>


    {{>footer}}

</body>

</html>