<html>
    <head>
        <title>
            Cart
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="icon" href="/img/grocery2.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/cart.css">
        <link rel="stylesheet" href="/css/added-to-cart.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> --}}
    </head>
    <body style="color: black;">
       {{>header}}
        <div class="main-content">
            {{!-- <h3 class="heading">You have added following things in your cart</h3>
            
            <table style="width: 50%;height:50%;text-align:center;" border=1>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                <tr>
                    <td>Coffee</td>
                    <td id="am1">25</td>
                    <td>{{coffee}}</td>
                </tr>
                <tr>
                    <td>Tea</td>
                    <td id="am1">20</td>
                    <td>{{tea}}</td>
                </tr>
                <tr>
                    <td>Orange Juice</td>
                    <td id="am1">50</td>
                    <td>{{orange}}</td>
                </tr>
                <tr>
                    <td>Strawberry Juice</td>
                    <td id="am1">50</td>
                    <td>{{strawberry}}</td>
                </tr>
                <tr>
                    <th colspan="2">Total Price</th>
                    <th>{{total}}</th>
                </tr>
            </table>
            <input type="submit" style=" margin-right:10%;margin-top:9%;background-color:rgb(0, 134, 40);color:white;padding:8px 16px; border-radius:5px;cursor:pointer" value="Proceed to checkout">
         --}}
         
                    {{!-- <div class="container">
            <table id="cart" class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:50%">Product</th>
                                    <th style="width:10%">Price</th>
                                    <th style="width:8%">Quantity</th>
                                    <th style="width:22%" class="text-center">Subtotal</th>
                                    <th style="width:10%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-th="Product">
                                        <div class="row">
                                            <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                                            <div class="col-sm-10">
                                                <h4 class="nomargin">Product 1</h4>
                                                <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-th="Price">$1.99</td>
                                    <td data-th="Quantity">
                                        <input type="number" class="form-control text-center" value="1">
                                    </td>
                                    <td data-th="Subtotal" class="text-center">1.99</td>
                                    <td class="actions" data-th="">
                                        <button style="background-color: lightblue;border-radius:4px"><i class="fa fa-refresh"></i></button>
                                        <button style="background-color: red;border-radius:4px"><i class="fa fa-trash-o"></i></button>								
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="visible-xs">
                                    <td class="text-center"><strong>Total 1.99</strong></td>
                                </tr>
                                <tr>
                                    <td ><input class="btn-100" type="submit" style=" margin-right:10%;margin-top:9%;background-color:#f0ad4e;color:white;padding:8px 16px; border-radius:5px;cursor:pointer" value="< Continue Shopping"></td>
                                    <td colspan="2" class="hidden-xs"></td>
                                    <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
                                    <td><input class="btn-100" type="submit" style=" margin-right:10%;margin-top:9%;background-color:rgb(0, 134, 40);color:white;padding:8px 16px; border-radius:5px;cursor:pointer" value="Proceed to checkout >"></i></a></td>
                                </tr>
                            </tfoot>
                        </table>
        </div> --}}
        {{# if products}}
            <div class="row">
                <div class="col-sn-6 col-md-6 col-md-offset-3 col-sn-offset-3">
                    <ul class="list-group">
                        {{# each products}}
                            <li class="list-group-item addeditem">
                                <span class="badge" style="background-color: rgb(0, 168, 0);" ><a href="/add/{{this.item._id}}"><i class="fa fa-plus" aria-hidden="true"></i></a></span>
                                <span class="badge" >{{ this.qty }}</span>
                                 <span class="badge" style="background-color: rgb(255, 77, 77);" ><a href="/reduce/{{this.item._id}}"><i class="fa fa-minus" aria-hidden="true"></i></a></span>
                                
                                <strong>{{ this.item.title }}</strong>
                                <span class="label label-success" style="padding: 5px 7px;;">Rs {{ this.price}}</span><br><br>
                                <div class="btn-group pull-right" >
                                    <a href="/remove/{{this.item._id}}">
                                    <button class=" btn-primary btnxs dropdown-toggle" style="border-radius:4px" type="button">Remove All </button></a>
                                    <!--<ul class="dropdown-menu">
                                        <li><a href="/reduce/{{this.item._id}}">Reduce by 1</a></li>
                                        <li><a href="/remove/{{this.item._id}}">Remove all</a></li>
                                    </ul>-->
                                </div>
                            </li><br><br>
                        {{/each}}
                        

                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sn-6 col-md-6 col-md-offset-3 col-sn-offset-3">
                    <strong>Total: {{totalPrice}} </strong>
                </div>
            </div> 
            <hr>
            <div class="row">
                <div class="col-sn-6 col-md-6 col-md-offset-3 col-sn-offset-3"></div>
                    <a href="/checkout" type="button" style="border-radius: 4px;padding:10px" class=" btn-success">Checkout</a>
                </div>
            </div> 
        {{else}}
            <div class="row">
                <div class="col-sn-6 col-md-6 col-md-offset-3 col-sn-offset-3">
                    <h2>No items in cart</h2>
                </div>
            </div> 
        {{/if}}


        {{>footer}}

    </body>
</html>